---
# Install MySQL Galera Cluster for Red Hat / CentOS

# for now fail if it's not a Red Hat based system
#- name: Check OS ( GPDB )
#  fail: msg="Not a Red Hat based system!"
#  when: ansible_os_family != 'RedHat' or  ansible_os_family != 'CentOS' or  ansible_os_family != 'Rocky'

- name: Deoploy DSM Agent
  include: install.yml
  tags: install

- name: Uninstall DSM Agent
  include: uninstall.yml
  tags: uninstall

- name: Upgrade DSM Agent
  include: upgrade.yml
  tags: upgrade
