---
- name: Gather a domain user info of the vsphere.local domain
  community.vmware.vcenter_domain_user_group_info:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: false
    domain: "vsphere.local"
    search_string: "vsphere.local\\dms"
    exact_match: true
  register: gather_domain_user_info_result
  delegate_to: localhost

#  #  search_string: "vsphere.local\\{{ dsm_admin_user_name }}"
#  # tags:
#  #  - always

#
- name: Enable normal shell if necessary
  expect:
    command: "sshpass -p {{ vcenter_password }} ssh -o StrictHostKeyChecking=no root@vcenter"
    timeout: 2
    responses:
      'Command>': 'shell'
      '# ':
        - 'chsh -s /bin/bash root'
        - 'logout'
  delegate_to: localhost
  register: enable_shell_status
  ignore_errors: true

#
- name: Add the domain user of the vsphere.local domain if it doesn't exist
  command: >-
    /usr/lib/vmware-vmafd/bin/dir-cli user create
    --account "{{ item.user }}" --user-password "{{ item.pass }}"
    --login "{{ vcenter_username }}" --password "{{ vcenter_password }}"
    --first-name "{{ item.fn }}" --last-name "{{ item.ln }}"
  with_items: "{{ add_users_list }}"
  delegate_facts: true
  delegate_to: vcenter
  changed_when: true
  when: gather_domain_user_info_result.domain_user_groups | length == 0
  # tags:
  #  - add_user
  #  - never

# https://github.com/ansible-collections/community.vmware/issues/613
