---
# Install MySQL Galera Cluster for Red Hat / CentOS

# for now fail if it's not a Red Hat based system
#- name: Check OS ( GPDB )
#  fail: msg="Not a Red Hat based system!"
#  when: ansible_os_family != 'RedHat' or  ansible_os_family != 'CentOS' or  ansible_os_family != 'Rocky'

#
- name: Deoploy DSM Agent
  include: install.yml
  tags: install
  when: deploy_ovf == true

#
- name: Create Datacenter
  include: create-datacenter.yml
  when: create_datacneter == true
  tags: install
  when: create_datacenter == true

#
- name: Create Cluser
  include: create-cluster.yml
  tags: install
  when: create_cluster == true

#
- name: Add Hosts
  include: add-hosts.yml
  tags: install
  when: add_hosts == true

#
- name: Create Users for VMware Data Service Manager
  include: create-users.yml
  tags: install
  when: create_users == true

#
- name: Create Roles for Users in VMware Data Service Manager
  include: create-roles.yml
  tags: install
  when: create_roles == true

#
- name: Delete Roles for Users in VMware Data Service Manager
  include: delete-roles.yml
  tags: uninstall
  when: delete_roles == true

#
- name: Delete Users for VMware Data Service Manager
  include: delete-users.yml
  tags: uninstall
  when: delete_users == true

#
#- name: Uninstall DSM Agent
#  include: uninstall.yml
#  tags: uninstall
